<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">    
    <title>CheckerBoard</title>

</head>

<body>
    <div class="container">
        <h1 style="text-align:center">Welcome!</h1>
        <div class="contain">
        <table>
        {% for x in range(num): %}
        <tr>
            {% for i in range(times): %}
                {% if((x+i)%2+1) == 1: %}
                <td class='box' style ="background-color: {{color}};"></td>
                {% endif %}
                {% if((x+i)%2+1) == 2: %}
                <td class='box' style ="background-color: {{color2}};"></td>

                {% endif %}

            {% endfor %}
        </tr>


        {% endfor %}
    </table>
    </div>
    </div>
</body>
</html>