<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Create User</title>
</head>
<body>
    <h1>User {{user.id}}</h1> </h1> <a href = "/users">Home</a>
    <div class="form-group">
    <div class="container">
        <div class="form-group">
            <label for="first_name">First Name: {{user.first_name}} {{user.last_name}}</label>
        </div>
        <div class="form-group">
            <label for="email">Email: {{user.email}}</label>
        </div>
        <div class="form-group">
            <label for="created">Created On: {{user.created_at}}</label>
        </div>
        <div class="form-group">
            <label for="updated">Last Updated On: {{user.updated_at}}</label>
        </div>
    </div>
    <a href = "/users/{{user.id}}/edit">Edit</a> <a href = "/users/{{user.id}}/delete">Delete</a>
</body>
</html>